:root{
    --white: #fdfbff;
    --dark: #5c2c37;
    --light: #e2dad9;



    --primary: #2d3961;
    --secondary: #f8c2fc;
    --info: #eae7e9;

    --sucess: #1bc675;

    --warning: #ecd416;
    --danger: #fe2518;
}

