@import "colors";
@import "../node_modules/bootstrap/scss/bootstrap";
.AppContainer{
    margin-top: 2%;
}
@media (max-width: 991px){
    .AppContainer{
        margin-top: 1%;
    }   
}
.Content{
    padding-left: 2.5%;
    padding-right: 2.5%;
}

main{
    background-color: rgba($light, 0.05);
    min-height: 100vh;
    margin-bottom: 2%;
    border-radius: 10px;
    // box-shadow: 0px 0px 5px rgba(100, 100, 255, 1);
    box-shadow: 0px 0px 10px rgba($primary, .75);
    padding: 1em;
}

.section_title{
    position: relative;
    display: inline-block;
    padding: 0 3px;
    > Typography{
        font-size: 18px;
    }
}